Repository pennlabs/penn-clubs, pull requests merged in 2024-04, with the labels that each got.

#664 Fix intermittent failure of tests introduced in #624
  backend/tests/clubs/test_views.py
Labels: backend

#669 Add Group Discount to Create Ticket Flow and Auto Scroll Down
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubEditPage/TicketsModal.tsx
  frontend/pages/events/[id].tsx
  frontend/types.ts
  frontend/utils/branding.tsx
Labels: frontend

#671 Use capture context in cart checkout
  backend/clubs/migrations/0104_cart_checkout_context.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Labels: backend

#638 Move submissions from /apply to user profile
  frontend/package.json
  frontend/pages/settings.tsx
  frontend/yarn.lock
Labels: frontend

#622 Add carousel
  frontend/components/ClubPage/EventCarousel.tsx
  frontend/components/ClubPage/Events.tsx
  frontend/components/EventPage/EventCard.tsx
  frontend/package.json
  frontend/pages/club/[club]/index.tsx
  frontend/yarn.lock
Labels: frontend

#675 Fix backend tests for group discounts, new cart API, and more
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Labels: backend

#672 Add support for ticket drop times
  backend/Pipfile
  backend/Pipfile.lock
  backend/clubs/migrations/0104_event_ticket_drop_time.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Labels: backend

#653 Add ability to transfer ownership of tickets
  backend/clubs/migrations/0105_event_ticket_drop_time.py
  backend/clubs/migrations/0106_remove_ticket_transaction_record_ticket_transferable_and_more.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/templates/emails/ticket_confirmation.html
  backend/templates/emails/ticket_transfer.html
  backend/tests/clubs/test_ticketing.py
Labels: backend

#670 Ticketing Cart Pre-Checkout
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
  frontend/components/ClubEditPage/EventsCard.tsx
  frontend/components/ClubPage/Actions.tsx
  frontend/components/ModelForm.tsx
  frontend/components/Settings/TicketsTab/index.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/PaymentForm.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/components/TicketsPage/CartTickets.tsx
  frontend/components/common/Modal.tsx
  frontend/constants/routes.ts
  frontend/package.json
  frontend/pages/_document.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/events/checkout.tsx
  frontend/pages/tickets/checkout.tsx
  frontend/public/static/img/empty_cart_two.svg
  frontend/public/static/img/icons/shopping-cart.svg
  frontend/tsconfig.json
  frontend/types.ts
  frontend/yarn.lock
Labels: frontend

#680 Fix breaking changes to `cart` in #670
  backend/clubs/views.py
Labels: backend

#667 Add guards on ticketed event deletion
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Labels: backend

#683 Fix empty fields in generated admin reports
  backend/clubs/serializers.py
Labels: bug

#684 Add route for attendance tracking
  backend/clubs/migrations/0107_ticket_attended.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Labels: backend

#665 Fix ticket interface for sellers
  backend/clubs/views.py
  frontend/components/ClubEditPage.tsx
  frontend/components/ClubEditPage/EventsImportCard.tsx
  frontend/components/ClubEditPage/TicketsViewCard.tsx
  frontend/components/EventPage/SyncModal.tsx
  frontend/components/Settings/BulkEditTab.tsx
  frontend/components/Settings/TicketTransferModal.tsx
  frontend/components/Settings/TicketsTab/index.tsx
  frontend/components/Tickets/CartTickets.tsx
  frontend/components/Tickets/ManageBuyer.tsx
  frontend/components/Tickets/TicketCard.tsx
  frontend/components/common/CSVTagInput.tsx
  frontend/pages/events/[id].tsx
  frontend/pages/tickets/[[...slug]].tsx
  frontend/pages/zoom.tsx
Labels: frontend

#658 Add support for free tickets
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Labels: backend

#691 Move TicketTransactionRecord back to field on Ticket
  backend/clubs/migrations/0109_remove_tickettransactionrecord_ticket_and_more.py
  backend/clubs/migrations/0110_alter_ticket_holding_expiration.py
  backend/clubs/models.py
  backend/clubs/views.py
  backend/tests/clubs/test_ticketing.py
Labels: backend

#696 Add note to ticket transfer flow
  frontend/components/Settings/TicketTransferModal.tsx
Labels: frontend
